* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    position: relative;
    width: 800px;
    height: 450px;
    transition: 0.4s ease-in;
}

#main-container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#start-container {
    /*
    background-color: rgb(98, 216, 255);
    border: 2px solid rgb(98, 216, 255);
    */
    background-color: #0D2601;
    border: 2px solid #0D2601;
    border-radius: 10px;
    z-index: 30;
}

#game-container {
    z-index: 20;
    background-color: #04B2D9;
    border: 2px solid black;
}

#reset-container {
    z-index: 10;
    display: none;
}

#reset-container #reset-score {
    position: absolute;
    width: 300px;
    height: 140px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-container canvas {
    width: 100%;
    height: 100%;
    z-index: 25;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-weight: 700;
    font-size: 22px;
}

#reset-container #reset-score h3 {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
}

#reset-para-score {
    position: absolute;
    font-size: 25px;
    color: black; 
    top: 50px;  
    left: 50%;
    transform: translateX(-50%); 
}

#reset-container #reset-score button {
    position: relative;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
    top: 90px;
    padding: 10px 25px;
    background-color: #F25C05;
    left: 53px;
    margin-right: 10px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.2s ease-in;
    text-transform: uppercase;
}

#reset-container #reset-score button:hover {
    color: #F25C05;
    cursor: pointer;
    background-color: lightgray;
}

#reset-container #reset-score button:active {
    transform: scale(0.85);
}

#start-container #copyright{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

#start-container h2 {
    position: absolute;
    padding: 20px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: #f9f9f9;
}

#start-container #start-button {
    position: absolute;
    top: 220px;
    left: 265px;
    outline: none;
    border: none;
    padding: 15px 30px;
    font-size: 40px;
    width: 250px;
    color: #f9f9f9;
    border-radius: 40px;
    background-color: #D3D930;
    font-weight: 600;
    transition: 0.2s ease-in;
}

#start-container #start-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#start-container #start-button:active {
    transform: scale(0.85);
}

#start-container #info-para {
    position: absolute;
    color: #f9f9f9;
    text-transform: uppercase;
    font-size: 18px;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}

#game-container #left-cloud {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: -2;
    opacity: 0;
    animation: cloud 15s linear 1s infinite normal both;
}

#game-container #right-cloud {
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: -2;
    opacity: 0;
    animation: cloud 17s linear 4s infinite normal both;
}

@keyframes cloud {
    0% {
        left: -120px;
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    89.9% {
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    93% {
        opacity: 0.6;
    }
    96% {
        opacity: 0;
    }
    100% {
        left: 800px;
        opacity: 0;
    }
}
